.button-lib {
    position: relative;
    display: inline-block;
    padding: 14px 41px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
    border: none;
    background-color: transparent;
    // margin-top: 80px;

    &:not(:last-child) {
        margin-right: 16px;
    }

    &:hover {
        background: #03e9f4;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
            0 0 200px #03e9f4;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }

    &:nth-child(1) {
        filter: hue-rotate(270deg);
    }

    &:nth-child(2) {
        filter: hue-rotate(110deg);
    }

    & span {
        position: absolute;
        display: block;
    }

    & span:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03e9f4);
        animation: animate1 3s linear infinite;

        @keyframes animate1 {
            0% {
                left: -100%;
            }

            50%,
            100% {
                left: 100%;
            }
        }
    }

    & span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #03e9f4);
        animation: animate2 3s linear infinite;
        animation-delay: 0.25s;

        @keyframes animate2 {
            0% {
                top: -100%;
            }

            50%,
            100% {
                top: 100%;
            }
        }
    }

    & span:nth-child(3) {
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #03e9f4);
        animation: animate3 3s linear infinite;
        animation-delay: 0.5s;

        @keyframes animate3 {
            0% {
                right: -100%;
            }

            50%,
            100% {
                right: 100%;
            }
        }
    }

    & span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #03e9f4);
        animation: animate4 3s linear infinite;
        animation-delay: 0.75s;

        @keyframes animate4 {
            0% {
                bottom: -100%;
            }

            50%,
            100% {
                bottom: 100%;
            }
        }
    }
}

.active {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}