


.cards__list, .film-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    position: relative;
    
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.cards__item {
    position: relative;
    margin: 0 auto;
    width: 280px;
    border-radius: 5px;
    margin-bottom: 20px;
    transform: scale(1);

    

    &:hover,
    &:focus{

&::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 5px;
    background-image: linear-gradient(var(--rotate), #5ddcff,
        #5676d6 43%,
        #a679eb);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}


    }
}

@media screen and (min-width: 768px) {
    .cards__item {
    width: 335px;
    margin-bottom: 32px;

    // &:nth-child(2n+1) {
    //     margin-right: 32px;
    // }
}
}

@media screen and (min-width: 1280px) {
.cards__item {
    margin-bottom: 32px;
    
    width: 395px;

    &:nth-child(3n) {
        margin-right: 0;
    }
}
}



.cards__photo {
    // object-fit: cover;
    @media screen and (min-width: 768px) {
            width: 335px;
            // height: 445px;
                    }
    
        @media screen and (min-width: 1280px) {
            // height: 502px;
            width: 395px;
    
        }
}

.cards__title {

    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    padding-top: 10px;

@media screen and (min-width: 1280px) {

        font-size: 20px;
        line-height: 1.2;
        padding-top: 12px;
    }
    
}

.cards__info {
    color: #FF6B08;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 5px;

    @media screen and (min-width: 1280px) {
    
        font-size: 20px;
        line-height: 1.2;
        }
    

}

.rating {
    position: absolute;
    display: flex;
    font-size: 20px;
    top: 15px;
    left: 15px;
    color: #fff;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #FF6B08;
    align-items: center;
    justify-content: center;
}

.lib-text {
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
    color: #FF6B08;
    // position: absolute;
    // left: 50%;
    // translate: (-50%);
    
    text-align: center;
        margin: 0 auto;
}

.films {
    margin-bottom: 30px;
}
