.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 734px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1247px;
    }
}