.footer {
  flex-shrink: 0;
  background-color: #f7f7f7;
  height: 100px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30 px;
  margin-bottom: 10px;
  text-align: center;
}

.footer__container {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
}
.footer__first-text {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.footer__mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__second-text {
}
.footer__third-text {
  margin-left: 10px;
}
.footer__link {
  margin-left: 5px;
  text-decoration: underline;
  background-color: #f7f7f7;
  color: #545454;
  border: 0;
  font-size: inherit;
  cursor: pointer;
}

.team-title {
}
.team-list {
}
.team-item {
}
.team-item__photo {
}
.team-item__name {
}
.team-item__position {
}
.team-item__info-contacts {
}
