.header {
    width: 100%;
    height: 230px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #000;

    @media screen and (min-width: 768px) {
        padding-right: 32px;
        padding-left: 32px;
    }
}

.logo__main {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    @media screen and (min-width: 1280px) {
        gap: 10px;
    }
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {}
}

.logo__header {
    display: none;
    color: #ff005d;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.logo__icon {}

.search {}

.search-form {
    display: flex;
    margin-top: 50px;

    align-items: center;
    justify-content: center;
}

.js-search-form {}

.search-field {
    min-width: 280px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid red;
    outline: none;
    color: white;

    @media screen and (min-width: 768px) {
        width: 336px;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
    }
}

.search-btn {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid red;
}

.search-icon {}

.header-form__warning {
    color: red;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 10px;
}

.nav {
    display: flex;
    gap: 40px;

    color: white;
}

.nav__item {}

.nav__link {
    color: white;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;

    &:hover,
    &:focus {
        color: red;
    }
}

.current {
    border-bottom: 3px solid red;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 60px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

