.header {
    background-color: #000;
}

.logo__main{
    margin-top: 40px;
    
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo__header {

    color: #ff005d;
}

.logo__icon {}

.search {}

.search-form {
    display: flex;
    margin-top: 50px;
    
    align-items: center;
    justify-content: center;
}

.js-search-form {}

.search-field {
    background-color:transparent;
    border: none;
    border-bottom: 1px solid red;
    outline: none;
    color: white;
}

.search-btn {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid red;
}

.search-icon {}

.header-form__warning {
    color: red;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 10px;
}

.nav {
    display: flex;
    gap: 40px;
    margin-top: 49px;
    color: white;
}

.nav__item {}

.nav__link {
    color: white;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
}

.current {
    
    border-bottom: 3px solid red;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 60px;

}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}