.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 480px) {
        padding: 40px 0;
    }

    @media screen and (min-width: 768px) {
        padding: 50px 0 60px 0;
    }
}

.pagination-button:not(:last-child),
.dots {
    margin-right: 16px;
}

.pagination-button {
    padding: 0;
    background-color: #fff;
    border: none;


    // color: #020202; 

    cursor: pointer;
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.333;
    width: 40px;
    height: 40px;
}

.pagination--current {
    border: 3px solid #5C7CFA;
    border-radius: 5px;
    background-color: #fff;
    color: #fa5ce2;

    



}

.dots,
.first-button,
.last-button {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.arrow-left,
.arrow-right {

  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-left {
  background-repeat: no-repeat;
  background-image: url(../../images/icons-left-right.png);
}

.arrow-right {
  background-image: url(../../images/icons-left-right.png);
  transform: matrix(-1, 0, 0, 1, 0, 0);



}

