<div class="container filter-button">
    <div class="dropdown">
        <button data-path="one" class="btn-genres dropdown-toggle">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          Genres
        </button>
        <ul data-target="one" class="dropdown-menu" aria-label="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Comedy</a></li>
          <li><a class="dropdown-item" href="#">Thriller</a></li>
          <li><a class="dropdown-item" href="#">Drama</a></li>
          <li><a class="dropdown-item" href="#">Documentary</a></li>
          <li><a class="dropdown-item" href="#">Western</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button data-path="two" class="btn-rating dropdown-toggle">
          <span></span>
            <span></span>
            <span></span>
            <span></span>
          Top Rating
        </button>
        <!-- <ul data-target="two" class="dropdown-menu" aria-label="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul> -->
    </div>

    <div class="dropdown">
        <button data-path="three" class="btn-year dropdown-toggle">
          <span></span>
            <span></span>
            <span></span>
            <span></span>
          Year
        </button>
        <ul data-target="three" class="dropdown-menu" aria-label="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">2023</a></li>
          <li><a class="dropdown-item" href="#">2022</a></li>
          <li><a class="dropdown-item" href="#">2021</a></li>
        </ul>
    </div>
</div>






