
<footer class="footer">
  <div class="footer__container">
    <p class="footer__first-text">&#169; 2023 | All Rights Reserved |</p>
    <div class="footer__mobile">
      <p class="footer__second-text">&nbspDeveloped with&nbsp</p>
      <svg width="14" height="13">
        <use href="../images/icon.svg#icon-love"></use>
      </svg>
      <p class="footer__third-text">
        by
        <button class="footer__link" type="button" data-modal-footer-open>
          GoIT Students
        </button>
      </p>
    </div>
  </div>
</footer>
<div class="backdrop is-hidden" data-footer-modal>
  <div class="modal_footer container">
    <button type="button" class="js-modal-close" data-modal-footer-close>
      <svg class="modal-film__close-icon" width="20" height="20">
        <use href="../images/icon.svg#close"></use>
      </svg>
    </button>
    <h2 class="team-title">OUR TEAM:</h2>

    <ul class="team-list">
      <li class="team-item first">
        <img class="team-item__photo" src="/images/team/team2.jpg" alt="Photo of a team member"
          srcset="/images/team/team2.jpg" />
        <h3 class="team-item__name">Дегтярьова Світлана</h3>
        <p class="team-item__position">Scrum Master</p>
        <a class="team-item__info-contacts" href="https://github.com/Svetlana-Dehtiarova" target="_blank"
          rel="nofollow noopener noreferrer">Github</a>
      </li>
      <li class="team-item second">
        <img class="team-item__photo" src="/images/team/team1.jpg" alt="Photo of a team member."
          srcset="/images/team/team1.jpg" />
        <h3 class="team-item__name">Будкова Ліна</h3>
        <p class="team-item__position">Team Lead & Developer</p>

        <a class="team-item__info-contacts" href=" https://github.com/LinaEno" target="_blank"
          rel="nofollow noopener noreferrer">Github</a>
      </li>
      <li class="team-item third">
        <img class="team-item__photo" src="/images/team/team3.jpg" alt="Photo of a team member."
          srcset="/images/team/team3.jpg" />
        <h3 class="team-item__name">Кашиченко Юлія</h3>
        <p class="team-item__position">Developer</p>

        <a class="team-item__info-contacts" href="https://github.com/YDaKota" target="_blank"
          rel="nofollow noopener noreferrer">Github</a>
      </li>

      <li class="team-item fourth">
        <img class="team-item__photo" src="/images/team/team4.jpg" alt="Photo of a team member."
          srcset="/images/team/team4.jpg" />
        <h3 class="team-item__name">Моісеєнко Ганна</h3>
        <p class="team-item__position">Developer</p>

        <a class="team-item__info-contacts" href="https://github.com/HannaMois" target="_blank"
          rel="nofollow noopener noreferrer">Github</a>
      </li>
      <li class="team-item fifth">
        <img class="team-item__photo" src="/images/team/team5.jpg" alt="Photo of a team member."
          srcset="/images/team/team5.jpg" />
        <h3 class="team-item__name">Мастега Аліна</h3>
        <p class="team-item__position">Developer</p>

        <a class="team-item__info-contacts" href="https://github.com/MaAlina1708" target="_blank"
          rel="nofollow noopener noreferrer">Github</a>
      </li>
      <li class="team-item six">
        <img class="team-item__photo" src="/images/team/team6.jpg" alt="Photo of a team member."
          srcset="/images/team/team6.jpg" />
        <h3 class="team-item__name">Моголівець Юлія</h3>
        <p class="team-item__position">Developer</p>
        <a class="team-item__info-contacts" href="https://github.com/YuliiaMoholivets" target="_blank"
  rel="nofollow noopener noreferrer">Github</a>
</li>
</ul>
</div>
</div>