<footer class="footer">
  <div class="footer__container">
    <p class="footer__first-text">&#169; 2023| All Rights Reserved |</p>
    <p class="footer__second-text">Developed with</p>
    <svg width="14" height="12,75">
      <use href="#"></use>
    </svg>
    <p class="footer__third-text">
      by
      <button class="footer__link" type="button" data-modal-footer-open>
        GoIT Students
      </button>
    </p>
  </div>
</footer>
<div class="backdrop is-hidden" data-footer-modal>
  <div class="modal_footer">
    <button type="button" class="js-modal-close" data-modal-footer-close>
      X
      <!-- <svg class="modal__close-btn" width="12" height="12">
        <use href="#"></use> -->
      <!-- </svg> -->
    </button>
    <h2 class="modal_footer__title">OUR TEAM:</h2>

    <ul class="team-list">
      <li class="team-item">
        <img
          class="team-item__photo"
          src=""
          alt="Photo of a team member"
          srcset=""
        />
        <h3 class="team-item__name">Ліна Будкова</h3>
        <p class="team-item__position">Team Lead & Developer</p>
        <ul class="team-item__contacts">
          <li>
            <a class="team-item__info-contacts" href="\">email</a>
          </li>
          <li>
            <a class="team-item__info-contacts" href="https://github.com/"
              >github.com</a
            >
          </li>
        </ul>
      </li>
      <li class="team-item">
        <img
          class="team-item__photo"
          src="#"
          alt="Photo of a team member."
          srcset="#"
        />
        <h3 class="team-item__name">Дегтярьова Світлана</h3>
        <p class="team-item__position">Scrum Master & Developer</p>
        <ul class="team-item__contacts">
          <li>
            <a class="team-item__info-contacts" href="\">email</a>
          </li>
          <li>
            <a class="team-item__info-contacts" href="https://github.com/"
              >github.com</a
            >
          </li>
        </ul>
      </li>
      <li class="team-item">
        <img
          class="team-item__photo"
          src="#"
          alt="Photo of a team member."
          srcset="#"
        />
        <h3 class="team-item__name">Кашиченко Юлія</h3>
        <p class="team-item__position">Developer</p>
        <ul class="team-item__contacts">
          <li>
            <a class="team-item__info-contacts" href="#">email</a>
          </li>
          <li>
            <a class="team-item__info-contacts" href="https://github.com/"
              >github.com</a
            >
          </li>
        </ul>
      </li>
      <li class="team-item">
        <img
          class="team-item__photo"
          src="#"
          alt="Photo of a team member."
          srcset="#"
        />
        <h3 class="team-item__name">Моісеєнко Ганна</h3>
        <p class="team-item__position">Developer</p>
        <ul class="team-item__contacts">
          <li>
            <a class="team-item__info-contacts" href="#">email</a>
          </li>
          <li>
            <a class="team-item__info-contacts" href="https://github.com/"
              >github.com</a
            >
          </li>
        </ul>
      </li>
      <li class="team-item">
        <img
          class="team-item__photo"
          src="#"
          alt="Photo of a team member."
          srcset="#"
        />
        <h3 class="team-item__name">Мастега Аліна</h3>
        <p class="team-item__position">Developer</p>
        <ul class="team-item__contacts">
          <li>
            <a class="team-item__info-contacts" href="#">email</a>
          </li>
          <li>
            <a class="team-item__info-contacts" href="https://github.com/"
              >github.com</a
            >
          </li>
        </ul>
      </li>
      <li class="team-item">
        <img
          class="team-item__photo"
          src="#"
          alt="Photo of a team member."
          srcset="#"
        />
        <h3 class="team-item__name">Мастега Аліна</h3>
        <p class="team-item__position">Developer</p>
        <ul class="team-item__contacts">
          <li>
            <a class="team-item__info-contacts" href="#">email</a>
          </li>
          <li>
            <a class="team-item__info-contacts" href="https://github.com/"
              >github.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
