<header class="header">
    <canvas id="particle-canvas"></canvas>
    <div class="container">
    <div class="logo">
        <h1 class="logo__main">
            <svg class="logo__icon" width="24" height="22">
                <use href="../images/icon.svg#icon-film-header"></use>
            </svg>
        <a href="./index.html" class="logo__header">
            Filmoteka
        </a>
        </h1>
        <ul class="nav">
            <li class="nav__item"><a class="nav__link current" href="./index.html">Home</a></li>
            <li class="nav__item"><a class="nav__link" href="./library.html">my library</a></li>
        </ul>
    </div>
    <div class="search">

        <form class="search-form js-search-form" id="search-form">
            <input type="text" name="query" autocomplete="off" placeholder="Movie search" class="search-field" />
            <button type="submit" class="search-btn">
                <svg class="search-icon" width="12" height="12">
                    <use href="../images/icon.svg#icon-search-header"></use>
                </svg>
            </button>
        </form>
        <p class="header-form__warning is-hidden"></p>
        <div class="filter-container">
        <select class="js-filter button filter-ab">
        <option value="1" selected class="button">Genres</option>
        <option value="28">Action</option>
        <option value="12">Adventure</option>
        <option value="16">Animation</option>
        <option value="35">Comedy</option>
        <option value="80">Crime</option>
        <option value="99">Documentary</option>
        <option value="18">Drama</option>
        <option value="10751">Family</option>
        <option value="14">Fantasy</option>
        <option value="36">History</option>
        <option value="27">Horror</option>
        <option value="10402">Music</option>
        <option value="9648">Mystery</option>
        <option value="10749">Romance</option>
        <option value="878">Science Fiction</option>
        <option value="10770">TV Movie</option>
        <option value="53">Thriller</option>
        <option value="10752">War</option>
        <option value="37">Western</option>
    </select>
    <select class="js-filter-vote button filter-ab">
        <option value="11" selected class="button">Vote</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>
    <button type="button" class="button js-clear filter-ab">Clear all</button>
    </div>
</div>
    </div>

</header>

