<header>
    <div class="container">
    <div class="logo">
        <h1>
        <a href="#" class="logo__header">
            <svg class="logo__icon" width="12" height="12">
                <use href="../images/film.svg"></use>
            </svg>
            Filmoteka
        </a>
        </h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">my library</a></li>
        </ul>
    </div>
    <div class="search">

        <form class="search-form js-search-form" id="search-form">
            <input type="text" name="query" autocomplete="off" placeholder="Movie search" class="search-field" />
            <button type="submit" class="search-btn">
                <svg class="search-icon" width="12" height="12">
                    <use href="../images/search.svg"></use>
                </svg>
            </button>
        </form>

    </div>
    </div>
</header>