<!-- <div class="backdrop is-hidden" id="modalMovieBackdrop">
    <div class="modal-content">
        <button type="button" class="btn-close" data-modal-close aria-label="modal close" name="modal close">
            <svg class="modal__close-icon">
                <use href="#"></use>
            </svg>
        </button>
        <div class="modal-box-detale" id="cardMoveDetail"></div>
    </div>
</div>
<div class="backdrop is-hidden" id="trailer-modal-wrapper">
    <div class="trailer-modal-wrapper" id="trailer-modal"></div>
</div> -->