<div class="js-backdrop is-hidden" data-modal>
    <div class="modal">
        <div class="modal__close">
            <button type="button" class="js-modal-button-close">
                <svg class="modal__close-btn" width="12" height="12">
                    <use href="#"></use>
                </svg>
            </button>
        </div>
        <div class="modal__image">
            <img src="#" alt="">
        </div>
        <div class="modal__info">
            <h3 class="modal__title"></h3>
            <ul>
                <li>
                    <p class="gray">Vote / Votes</p>
                    <p>
                        <span class="modal__accent-raiting"></span> /
                        <span class="modal__text"></span>
                    </p>
                </li>
                <li>
                    <p class="gray">Popularity</p>
                    <p></p>
                </li>
                <li>
                    <p class="gray">Original Title</p>
                    <p></p>
                </li>
                <li>
                    <p class="gray">Genre</p>
                    <p></p>
                </li>
            </ul>
            <div>
                <p>ABOUT</p>
                <p class="text_about movie"></p>
            </div>
        </div>
        <div class="modal_button_add">
            <button type="button" class="add_to_watched ">ADD TO WATCHED</button>
            <button type="button" class="add_to_queue ">ADD TO QUEUE</button>
        </div>
    </div>
</div>